.search-box {
  margin: 3em auto;
  display: block;
}

.search-input {
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;
  border: none;
  padding: 6px 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  width: 100%;
}
.search-input:focus {
  outline: none;
}

.search-input:hover {
  transition: 1s ease;
  background-color: rgba(196, 194, 194, 0.8);
}
