* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  background-image: url('./asset/bg.jpg');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.App {
  display: grid;
  justify-content: center;
  text-align: center;
  position: relative;
  animation: myFirst 5s 2;
  animation-direction: alternate-reverse;
}
@keyframes myFirst {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 2000px;
    top: 0px;
  }
  50% {
    left: 2000px;
    top: 2000px;
  }
  1000% {
    left: 0px;
    top: 0px;
  }
}
